# Byte-compiled / optimized / DLL files
.pytest_cache
__pycache__/
*.py[cod]
*$py.class

# Compiled python files
*.pyc

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
*.cover
*.py,cover
.pytest_cache/
cover/

# Environments
.env
.venv

# Ignore IDE files
.idea/
.history
.DS_Store

# Temporary files
*.bak
*.swp
*.~lock.*

# Reports
/reports/
